<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
<section id="start" class="section fullheight bg-secondary dark padding-v-60" style="max-height:300px;">
    
            <!-- BG Image -->
            <div class="bg-image animated infinite zooming"><img src="assets/img/photos/it-bg01.jpg" alt="..."></div>
    
            <!-- Top -->
            <div class="container container-wide text-md">
                <!--<i class="icon-before fa fa-comments text-primary"></i>Have you got any questions? Write to me at <a href="#" class="text-primary">hello@suelo.pl</a>-->
            </div>
    
            <!-- Middle -->
            <div class="container container-wide v-bottom margin-t-40">
              <h1 class="text-lg margin-b-0">Terribly Tiny Tales</h1>
              <div class="margin-b-10" style="padding-left:3px;">Software Developer Application Challenge</div>
              <span data-target="local-scroll"><a href="#" target="_blank" class="btn btn-lg btn-primary animated" data-animation="bounceIn"><span>Github Link</span><i class="ti-arrow-down"></i></a></span>
            </div>
            
        </section>
        <section id="resume" class="section padding-v-30">
    
            <!-- Content -->
            <div class="container container-wide">
    
                <h6 class=""></h6>
                
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="resume-box">
                            <!--
                            <span class="icon animated" data-animation="fadeInDown"><i class="fa fa-briefcase text-tertiary"></i></span>
                            <h4>The <strong>Challenge</strong></h4>
                            -->
                            <div>
                                <table>
                                  <tr>
                                    <td>
                                      <div style="max-width:100px;margin-top:-20px" class="icon animated" data-animation="fadeInDown"><i class="fa fa-puzzle-piece text-tertiary"></i></div>
                                    </td>
                                    <td>
                                      <h4 style="margin-bottom:5px;">The <strong>Challenge</strong></h4>
                                      <p style="margin-bottom:20px;">Design and build the following:</p>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            <div class="timeline">
                                <div class="timeline-event te-primary">
                                    <span class="event-description" style="font-size:13px;">A front end which accepts a number input N with a Submit button (extra points for building frontend in Angular or React or a HTML5 framework)</span>
                                </div>
                                <div class="timeline-event te-primary">
                                    <span class="event-description" style="font-size:13px;">On entering a value and pressing submit, a request should be sent to the backend (backend can be in any technology, extra points for using nodejs)</span>
                                </div>
                                <div class="timeline-event te-primary">
                                    <span class="event-description" style="font-size:13px;">From the backend, fetch a file hosted at http://terriblytinytales.com/test.txt</span>
                                </div>
                                <div class="timeline-event te-primary">
                                    <span class="event-description" style="font-size:13px;">From the backend, return the top N most frequently occurring words in this file</span>
                                </div>
                                <div class="timeline-event te-primary">
                                    <span class="event-description" style="font-size:13px;" >Display the top N words and their frequency of occurrence in the frontend, in a tabular format</span>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </section>
        <section id="snr" class="section padding-v-30">
            <div class="container container-wide">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="resume-box">
                      <div>
                        <table>
                          <tr>
                            <td style="vertical-align:top">
                              <div style="max-width:100px;margin-top:-20px" class="icon animated" data-animation="fadeInDown"><i class="fa fa-flask text-tertiary"></i></div>
                            </td>
                            <td>
                              <h4 style="margin-bottom:5px;">The <strong>Solution</strong></h4>
                              <p style="margin-bottom:20px;">The algorithm is based on <a href="https://www.google.co.in/search?q=define+word" target="_blank">Google's definition of word</a> as "<i>a single distinct meaningful element of speech or writing, used with others (or sometimes alone) to form a sentence and typically shown with <b>a space on either side</b> when written or printed</i>".</p>
                              <p style="margin-bottom:5px;font-size:11px;">Apart from standard words, the following are also counted as words -</p>
                              <ul style="padding-left:15px;font-size:11px;">
                                <li>All numbers occurring as part of the text or labels of ordered list.</li>
                                <li>Hyperlinks, email and handles are considered as one single words.</li>
                                <li>Words joined by apostrophe such as "we're" are considered as a single distinct word.</li>
                                <li style="color:#dd3c3c">Special characters enclosed by spaces are NOT counted as words</li>
                              </ul>
                            </td>
                          </tr>
                        </table>
                      </div>
                          <!--
                            <span class="icon animated" data-animation="fadeInDown"><i class="fa fa-cogs text-tertiary"></i></span>
                            <h4 style="margin-bottom:5px;">The <strong>Solution</strong></h4>
                            <p style="margin-bottom:20px;">Enter the number of words to fetch in the textbox below and click submit.</p>
                            -->
                            <div>
                              <table style="width:100%">
                                <tr>
                                  <td style="vertical-align:top">
                                    <div class="form-group">
                                      <input id="name" class="form-control" type="text" [(ngModel)]="dataForm.numberOfRecords" name="numberOfRecords" style="border-radius:25px 0px 0px 25px;height:50px;" placeholder="Enter the number of words to fetch">
                                    </div>
                                  </td>
                                  <td style="vertical-align:top;width:150px;max-width:150px;">
                                    <button (click)="fetchData()" class="btn btn-secondary" style="border-radius: 0px 25px 25px 0px;width: 100%;"><span>Submit !</span><i class="fa fa-send"></i></button>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2" style="height: 20px;font-size: 11px;padding-left: 15px;color: #dd3c3c;">{{dataForm.err}}</td>
                                </tr>
                                
                              </table>
                              <div *ngIf="wordList.length>0">
                                  <div style="text-align:right;font-size:10px;color:#3aa8db">Showing top {{wordCount.fetched}} of {{wordCount.total}} words</div>
                                  <table style="width:100%">
                                    <tr>
                                      <td style="color:#ffffff;border: 1px solid #ffffff;width:70px;max-width:70px;text-align:center;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">#</td>
                                      <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">Word</td>
                                      <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">Frequency</td>
                                    </tr>
                                    <tr *ngFor="let word of wordList;let i = index">
                                        <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">{{i+1}}.</td>
                                        <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">{{word.word}}</td>
                                        <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">{{word.frequency}}</td>
                                      </tr>
                                  </table>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </section>
        <section id="portfolio" class="section bg-grey padding-v-60">
          <div class="container container-wide">
              <div>
                <table>
                  <tr>
                    <td style="vertical-align:top;">
                      <div style="max-width:100px;margin-top:-40px" class="icon animated" data-animation="fadeInDown"><i class="fa fa-folder-open text-tertiary"></i></div>
                    </td>
                    <td>
                      <h4 style="margin-bottom:15px;"><strong>Read</strong>.me</h4>

                        <p style="margin-bottom:5px;">
                          <b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">Technology Stack Used</b><br/>
                        </p>
                        <div style="padding-left:15px;border-left:3px solid #e5e5e5;margin-bottom:20px;font-size:12px">
                            Backend - NodeJs | Framework - ExpressJs<br/>
                            UI/Frontend - Angular4, HTML, CSS, Bootstrap<br/>
                            Server - DigitalOcean Cloud
                        </div>
                        <p style="margin-bottom:20px;">
                            <b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">Libraries/Middlewares Used</b> : <span style="font-size:12px">Lodash, Axios & Cors at the backend</span>
                        </p>
                        <p style="margin-bottom:5px;">
                            <b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">Components of Code</b><br/>
                        </p>
                        <div style="padding-left:15px;border-left:3px solid #e5e5e5;margin-bottom:20px;font-size:12px">
                            The solution consists of a frontend built on Angular4 that queries the requested operation from the backend via simple http POST request. The body of the request contains the number of words to be fetched from the server. The backend which caters to this service request is built on NodeJs over ExpressJs.<br/><br/>
                            The request is received by the express router and the associated method is invoked. The request-inputs are validated and the source text data is pulled from the specified ttt link via the axios. The backend code uses ES7's features like async/await for code simplification & readability.<br/><br/>
                            The source data is parsed using standard javascript methods alongwith lodash's functions to generate an array of object each containing the word and its frequency in key-value pairs sorted by the frequency in descending followed by the word in ascending. The requested number of words are extracted from the top of this array and rendered as a JSON response to the service.
                        </div>
                        <p style="margin-bottom:5px;">
                            <b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">The Parsing Algorithm</b>
                        </p>
                        <div style="padding-left:15px;border-left:3px solid #e5e5e5;font-size:12px">
                            The parsing algorith converts the source data into a sorted array of words each associated with its frequency of occurrence. Following are the steps taken for parsing the source data -<br/>
                        <p>
                          <u>Sanitizing & Splitting</u><br/>
                          <b>var docArr = resp.data.replace(/\.*[\?\!\,\;\(\)\<\>\"\&#123;\&#125;\[\]\s\t\n\r]+/g,' ').replace(/[ ]*[\'][^a-zA-Z0-9]*/g, ' ').toLowerCase().split(" ");</b>
                        </p>
                        <ol>
                          <li>Identification of sentence terminators like ?, !, comma etc. and converting them to space.</li>
                          <li>Identification of paragraph terminators like \n, \t, \r etc. and converting them to space.</li>
                          <li>Identification of special characters that prefix words like braces, quotes etc. and converting them to space.</li>
                          <li>Converting text into lowercase for optimal matching and splitting the text into array of words by space.</li>
                        </ol>
                        <p><u>Generating Frequencies</u><br/><b>docArr = _.countBy(_.filter(docArr,elem=>regex.test(elem.trim())), _.identity);</b></p>
                        <ol>
                          <li>Frequency of each word is generated by the countBy method from the Lodash middleware.<br/>
                              
                          </li>
                        </ol>
                        <p><u>Generating Sorted Object</u><br/><b>docArr = _.orderBy(_.map(_(docArr).toPairs().value(),(n)=>&#123;return &#123;'word':n[0],'frequency':n[1]&#125;&#125;), ['frequency', 'word'],['desc','asc']);</b></p>
                        <ol>
                          <li>An array of objects, each consisting of the word and its frequency in separate keys is then created and sorted first by the frequency and then by the word. This is achieved by the map & orderBy methods of the Lodash middleware.<br/></li>
                        </ol>
                      </div>
                        <p style="margin-bottom:5px;">
                          <b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">Service Request & Response</b>
                        </p>
                        <div style="padding-left:15px;border-left:3px solid #e5e5e5;margin-bottom:20px;font-size:12px">
                            <u>Request</u><br/>
                            Method : POST<br/>
                            Url : http://localhost:3000/ttt<br/>
                            Content-type: application/json<br/>
                            Body : &#123;"recordsToFetch":35&#125;<br/><br/>
                            <u>Response</u><br/>
                            &#123;<br/>
                            &nbsp;&nbsp;&nbsp;"error":&#123;"code":200,"message":"Data fetched successfully"&#125;,<br/>
                            &nbsp;&nbsp;&nbsp;"data":&#123;<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"list":[<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;"word":"i","frequency":27&#125;,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;"word":"a","frequency":24&#125;,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;"word":"to","frequency":23&#125;<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"count":&#123;"total":353,"fetched":3&#125;<br/>
                            &nbsp;&nbsp;&nbsp;&#125;<br/>
                            &#125;
                        </div>
                        <p style="margin-bottom:5px;"><b style="text-transform: uppercase;font-size: 11px;font-weight: 600;">Test Cases</b></p>
                        <div style="padding-left:15px;border-left:3px solid #e5e5e5;font-size:12px">
                          <table style="width:100%">
                            <tr>
                              <td style="color:#ffffff;border: 1px solid #ffffff;width:40px;max-width:40px;text-align:center;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">#</td>
                              <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">Case Scenario</td>
                              <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;width:80px;min-width:80px;">Test Case Data</td>
                              <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">Expected Results</td>
                              <td style="color:#ffffff;border: 1px solid #ffffff;background: #31475e;padding: 6px 10px;font-size: 10px;font-weight: 500;text-transform: uppercase;">Test Results</td>
                            </tr>
                            <tr>
                              <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">01.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check UI with a vaild input number N that is greater than zero and lesser than the total number of distinct words found.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">N = 10</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must display 10 words with their corresponding frequencies.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected </td>
                            </tr>
                            <tr>
                              <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">02.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check UI with a invaild input number 0 or less than 0.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">N = 0 or -1</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must display validation error.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected</td>
                            </tr>
                            <tr>
                              <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">03.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check UI with a vaild input number N that is greater than the total number of distinct words found.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">N = 500</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must display all words with their corresponding frequencies with status.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected</td>
                            </tr>
                            <tr>
                              <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">04.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check UI with a invaild input.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">N = 'ABC'</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must display validation error.</td>
                              <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">05.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check webservice with a vaild input number N that is greater than zero and lesser than the total number of distinct words found.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">&#123;"recordsToFetch":10&#125;</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must respond with json array of 10 object with words with their corresponding frequencies.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected - <a href="/assets/img/test-case1.png" target="_blank">Pic1</a></td>
                              </tr>
                              <tr>
                                <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">06.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check webservice with a invaild input number 0 or less than 0.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">&#123;"recordsToFetch":0&#125; or &#123;"recordsToFetch":-1&#125;</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must respond with error 400 bad request.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected - <a href="/assets/img/test-case2.png" target="_blank">Pic1</a>&nbsp;&nbsp;<a href="/assets/img/test-case3.png" target="_blank">Pic2</a></td>
                              </tr>
                              <tr>
                                <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">07.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check webservice with a vaild input number N that is greater than the total number of distinct words found.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">&#123;"recordsToFetch":500&#125;</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must respond with status 200 alongwith all words.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected - <a href="/assets/img/test-case4.png" target="_blank">Pic1</a></td>
                              </tr>
                              <tr>
                                <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">08.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Check webservice with a invaild input.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">&#123;"recordsToFetch":"ABC"&#125;</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must respond with error 400 bad request.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected - <a href="/assets/img/test-case5.png" target="_blank">Pic1</a></td>
                              </tr>
                              <tr>
                                <td style="text-align:center;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">09.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Checking parsing algorithm for -
                                  <ul style="padding-left:15px;">
                                    <li>Words containing letters only</li>
                                    <li>Words containing numbers only</li>
                                    <li>Words containing special characters like email & hyperlink</li>
                                    <li>Contraction words like we're to be considered as one</li>
                                    <li>Words terminating in ! or , or ? or . or \n (new-line) or \r (carriage-return) or \t (tab)</li>
                                    <li>Words preceeding or trailing by &#123; or &#125; or [ or ] or ( or ) or < or > or ' or " or ;</li>
                                  </ul>
                                </td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">http://terriblytinytales.com/test.txt</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">Must segregate all words independently.</td>
                                <td style="text-align:left;font-size:11px;padding:8px 10px;border-bottom:1px solid #f2f2f2">As expected</td>
                              </tr>
                          </table>
                        </div>
                        <p style="margin-bottom:20px;"></p>
                        <p style="margin-bottom:20px;"></p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </section>
<div *ngIf="showPreloader" style="position:absolute;top:0px;left:0px;z-index:1000;width:100%;height:100%;background:rgba(0, 0, 0, 0.5)">
  <div style="text-align:center;position:fixed;top:42%;left:50%;color:#ffffff;font-size:10px;">
    <img src="/assets/img/inf-preloader.gif" style="width:80px;height:80px;"/>
    <div style="margin-top:-10px;">Loading....</div>
  </div>
</div>
<style>
  .btn:hover { 
    background: #3aa8db;  
    color: #ffffff !important;
  }

  .btn:focus{
    background: #31485e;  
    color: #ffffff !important;
  }
</style>