<!DOCTYPE html>
<html lang="en">
    <head><title>TTT - Challenge</title></head>
    <body>
        <div style="text-align:center;margin-top:10%;">
            <div style="font-size: 14px;font-weight: 400;font-family: verdana;text-transform: uppercase;text-decoration: underline;color: #5185d9;">TerriblyTinyTales - Software Developer Application Challenge</div>
            <div style="font-size:11px;font-family:verdana;padding-top:10px">Please <a href="https://sagarsrivastava.in/terriblytinytales/">click here</a> for working solution & details</div>
        </div>
    </body>
</html>
